export HF_TOKEN=hf_SET_ME
export WANDB_API_KEY=SET_ME


export HF_HOME=/tmp/hf_cache
export HF_DATASETS_CACHE=/tmp/hf_cache/datasets
export HF_MODULES_CACHE=/tmp/hf_cache/modules
export HF_HUB_ENABLE_HF_TRANSFER=1


CONTAINER_IMAGE="ghcr.io#set_me/ceelm:latest"
CONTAINER_IMAGE_EVAL="ghcr.io#set_me/ceelm:eval"
CONTAINER_WORKDIR=/repodir/
NODELIST=set_me,set_me,set_me

JUPYTER_TOKEN=set_me

