*.sqsh
*.out
/trak_test.py
/data
*.pyc
*.log
trak
out
*.wandb
wandb
checkpoints/*
less
DataInf
models/*
model_checkpoints/*
runnnn.sh
cache/*
results/*
dataset/*
*.err

*.sh
tmp/*

models_test/*
trainer_output/*
tmp_dataset_repo/*
finetuning_eval/*
olmes/*
old/*
fi
*.out
tables/*
tables/olmes-external.tex
--blocking-factor=512
models_causal/*
results.tar.gz
*.csv
*.tex

output.png
partial/*
*.parquet
tables/olmes-own.tex
validation.txt
scoring.txt
merge_fail_list_scoring.txt
figures/*
