*.sqsh
*.out
/trak_test.py
/data
*.pyc
*.log
trak
out
*.wandb
wandb
checkpoints/*
less
DataInf
models/*
model_checkpoints/*
runnnn.sh
cache/*
results/*
dataset/*
*.err

*.sh
tmp/*

models_test/*
trainer_output/*
tmp_dataset_repo/*
