--extra-index-url https://download.pytorch.org/whl/cu126
torch
packaging
auto-gptq
peft
transformers
hf-transfer 
accelerate
evaluate
openai
wandb
torchmetrics
numpy
pandas
matplotlib
seaborn
plotly
jupyterlab
scikit-learn
tensorboard
pybind11        
setuptools_scm
nltk
rouge-score
bert_score
vllm
pytorch-ignite
jupyterlab 
ipywidgets 
captum 
annoy 
trl 
krippendorff
statsmodels
blobfile
datasets==4.0.0
apricot-select
ipykernel==6.30.1
umap-learn